<div class="row">
    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
        <div class="card">
            <div class="alert" *ngIf="error">{{error}}</div>
            <div class="alert" *ngIf="success">{{success}}</div>
            <div class="card-header">
                <form [formGroup]="rForm" (ngSubmit)="!updateMode ? addCostcentre(rForm.value) : updateCostcentre(rForm.value)">
                    <div>
                        <h3 class="mb-0" *ngIf="!updateMode">Add cost centre</h3>
                        <h3 class="mb-0" *ngIf="updateMode">Update cost centre</h3>
                        <hr/>
						<div class="form-group">
                            <label>Name</label>
                            <input type="text" class="form-control" formControlName="name">
                            <span class="text-danger" *ngIf="!rForm.controls['name'].valid && rForm.controls['name'].touched">{{ formErrors.name }}</span>
                        </div>
                        <div class="form-group">
                            <label>Owner</label>
                            <input type="text" class="form-control" formControlName="owner">
                            <span class="text-danger" *ngIf="!rForm.controls['owner'].valid && rForm.controls['owner'].touched">{{ formErrors.owner }}</span>
                        </div>
                        <div><input type="submit" class="btn btn-primary btn-sm" value="Save" [disabled]="!rForm.valid"></div>
                    </div>
                </form>
                <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" id="show-list" (change) ="showHideList($event.target.checked)" />
                    <label class="custom-control-label" for="show-list">Show all cost centres</label>
                </div>
            </div>
            <div class="card-body" *ngIf="showList">
                <div class="table-responsive" *ngIf="costcentres?.length > 0">
                    <span>
                        <table class="table table-striped table-bordered second" style="width:100%">
                            <tr>
                                <th>Cost centre name</th>
                                <th>Owner</th>
                                <th>Update</th>
                                <th>Delete</th>
                            </tr>
                            <tr *ngFor="let d of costcentres">
                                <td>{{d.name}}</td>
                                <td>{{d.owner}}</td>
                                <td><button class="btn btn-primary btn-xs" (click)="costcentreEdit(d.id)" >Update</button></td>
                                <td><button class="btn btn-danger btn-xs" (click)="deleteCostcentre(d.id)" >Delete</button></td>
                            </tr>
                        </table>
                    </span>
                </div>
                <div class="alert" *ngIf="costcentres?.length <= 0">Nothing to show</div>
            </div>
        </div>
    </div>
</div>