table {
    width: 100%;
  }
  
  .mat-form-field {
    font-size: 14px;
    width: 100%;
  }
  td, th {
    width: 12%;
    color: #685665;
  }
  th{
    font-size: 12px;
    font-weight: bold;
  }
  th{
    color: #fff;
    background-color: #7a80b4;
    border-color:#7a80b4;
  }
.table-header-row {
    font-weight: bold;
    height: 35px !important;
}
.table-row {
    height: 35px !important;
  }
 