<div class="row">
    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
        <div class="card">
            <div class="card-header">
                <form [formGroup]="rForm" (ngSubmit)="save(rForm.value)">
                    <div>
                        <h3 class="mb-0">Company details</h3>
                        <hr/>
						<div class="form-group">
                            <label>Company Name</label>
                            <input type="text" class="form-control" formControlName="name">
                            <span class="text-danger" *ngIf="!rForm.controls['name'].valid && rForm.controls['name'].touched">{{ formErrors.name }}</span>
                        </div>
						<div class="form-group">
                            <label>Registration Number</label>
                            <input type="text" class="form-control" formControlName="registrationNumber">
                            <span class="text-danger" *ngIf="!rForm.controls['registrationNumber'].valid && rForm.controls['registrationNumber'].touched">{{ formErrors.registrationNumber }}</span>
                        </div>
                        <h4 class="mb-0">Address</h4><br>
						<div class="form-group">
                            <label>Line 1</label>
                            <input type="text" class="form-control" formControlName="line1">
                            <span class="text-danger" *ngIf="!rForm.controls['line1'].valid && rForm.controls['line1'].touched">{{ formErrors.line1 }}</span>
                        </div>
						<div class="form-group">
                            <label>Line 2</label>
                            <input type="text" class="form-control" formControlName="line2">
                            <span class="text-danger" *ngIf="!rForm.controls['line2'].valid && rForm.controls['line2'].touched">{{ formErrors.line2 }}</span>
                        </div>
						<div class="form-group">
                            <label>Postal code</label>
                            <input type="text" class="form-control" formControlName="postalCode">
                            <span class="text-danger" *ngIf="!rForm.controls['postalCode'].valid && rForm.controls['postalCode'].touched">{{ formErrors.postalCode }}</span>
                        </div>
                        <mat-form-field>
                            <input type="text" placeholder="Select country" matInput formControlName="country" [matAutocomplete]="auto">
                            <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayCountryFn">
                              <mat-option *ngFor="let country of filteredCountries | async" [value]="country">
                                {{country.name}}
                              </mat-option>
                            </mat-autocomplete>
                        </mat-form-field>
                        <span class="text-danger" *ngIf="!rForm.controls['country'].valid && rForm.controls['country'].touched">{{ formErrors.country }}</span> 

                        <div><input type="submit" class="btn btn-primary btn-sm" value="Save" [disabled]="!rForm.valid"></div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>