<div class="row">
    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
        <div class="card">
            <div class="alert" *ngIf="error">{{error}}</div>
            <div class="alert" *ngIf="success">{{success}}</div>
            <div class="card-header">
                <form [formGroup]="rForm" (ngSubmit)="!updateMode ? addSalary(rForm.value) : updateSalary(rForm.value)">
                    <div>
                        <h3 class="mb-0" *ngIf="!updateMode">Add grade</h3>
                        <h3 class="mb-0" *ngIf="updateMode">Update grade</h3>
                        <hr/>
						<div class="form-group">
                            <label>Pay grade</label>
                            <input type="text" class="form-control" formControlName="payGrade"><span class="text-danger" *ngIf="!rForm.controls['payGrade'].valid && rForm.controls['payGrade'].touched">{{ requiredAlert }}</span>
                        </div>
                        <div class="form-group">
                            <label>Basic pay</label>
                            <input type="text" class="form-control" formControlName="basicPay"><span class="text-danger" *ngIf="!rForm.controls['basicPay'].valid && rForm.controls['basicPay'].touched">Numbers only. Format # or #.#</span>
                        </div>
                        <div><input type="submit" class="btn btn-primary btn-sm" value="Save" [disabled]="!rForm.valid"></div>
                    </div>
                </form>
                <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" id="show-list" (change) ="showHideList($event.target.checked)" />
                    <label class="custom-control-label" for="show-list">Show available grades</label>
                </div>
                <div *ngIf="showList">
                    <div class="table-responsive">
                        <mat-form-field>
                            <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
                        </mat-form-field>
                        <div class="mat-elevation-z8">
                            <table mat-table [dataSource]="salaries" matSort class="mat-table">
                                <ng-container matColumnDef="payGrade">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Pay Grade</th>
                                    <td mat-cell *matCellDef="let sal"> {{sal.payGrade}} </td>
                                </ng-container>
                                <ng-container matColumnDef="basicPay">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Basic Pay</th>
                                    <td mat-cell *matCellDef="let sal"> {{sal.basicPay}} </td>
                                </ng-container>
                                <ng-container matColumnDef="manage">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Manage</th>
                                    <td mat-cell *matCellDef="let sal">
                                        <button class="btn btn-primary btn-xs" (click)="salaryEdit(sal.id)" >Update</button>&nbsp;
                                        <button class="btn btn-danger btn-xs" (click)="openConfirmationDialog(sal.id)" >Remove</button>
                                    </td>
                                </ng-container>
                                <tr mat-header-row *matHeaderRowDef="displayedColumns" class="mat-table-header-row"></tr>
                                <tr mat-row *matRowDef="let row; columns: displayedColumns;" class="mat-table-row"></tr>
                            </table>
                            <mat-paginator [pageSizeOptions]="[20, 50, 75, 100]"></mat-paginator>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>