<div class="row">
    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
       <div class="card">
          <div class="card-header">
             <div>
                <h3 class="mb-0">Load initial data</h3>
             </div>
          </div>
          <div class="card-body">
              <!--<button [disabled]="loadButtonclicked" (click)="triggerLoad()" class="btn btn-primary btn-sm" *ngIf="initialLoadEnabled == true">One click data import</button>-->
              <button (click)="triggerLoad($event.target); clicked = true;" class="btn btn-primary btn-sm" *ngIf="initialLoadEnabled == true">One click data import</button>
              <p *ngIf="initialLoadEnabled == false">Done!</p>
          </div>
       </div>
       <div class="card">
        <div class="card-header">
           <div>
              <h3 class="mb-0">Set currency</h3>
           </div>
        </div>
        <div class="card-body">
           <p>To do!</p>
        </div>
     </div>
    </div>
 </div>
 