<!--<employee-details></employee-details>-->
<div class="row">
   <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
      <div class="card">
         <div class="alert" *ngIf="error">{{error}}</div>
         <div class="alert" *ngIf="success">{{success}}</div>
         <div class="card-header">
            <div>
               <h3 class="mb-0" *ngIf="!updateMode">Add Employee</h3>
               <h3 class="mb-0" *ngIf="updateMode">Update Employee</h3>
            </div>
         </div>
         <div class="card-body">
            <form [formGroup]="rForm" (ngSubmit)="!updateMode ? addEmployee(rForm.value) : updateEmployee(rForm.value)">
               <div class="form-row">
                  <div class="form-group col-md-4">
                     <label>First Name</label>
                     <input type="text" class="form-control" formControlName="firstName" placeholder="First Name">
                     <span class="text-danger" *ngIf="!rForm.controls['firstName'].valid && rForm.controls['firstName'].touched">{{ formErrors.firstName }}</span>
                  </div>
                  <div class="form-group col-md-4">
                     <label>Middle Name</label>
                     <input type="text" class="form-control" formControlName="middleName" placeholder="Middle Name">
                     <span class="text-danger" *ngIf="!rForm.controls['middleName'].valid && rForm.controls['middleName'].touched">{{ formErrors.middleName }}</span>
                  </div>
                  <div class="form-group col-md-4">
                     <label>Surname</label>
                     <input type="text" class="form-control" formControlName="lastName" placeholder="Surname">
                     <span class="text-danger" *ngIf="!rForm.controls['lastName'].valid && rForm.controls['lastName'].touched">{{ formErrors.lastName }}</span>
                  </div>
               </div>
               <div class="form-row">
                  <div class="form-group col-md-4">
                     <label>Date of birth</label>
                     <input type="date" class="form-control" formControlName="dob">
                     <span class="text-danger" *ngIf="!rForm.controls['dob'].valid && rForm.controls['dob'].touched">{{ formErrors.dob }}</span>
                  </div>
                  <div class="form-group col-md-4">
                     <label>ID Number</label>
                     <input type="text" class="form-control" formControlName="idNumber" placeholder="ID Number">
                     <span class="text-danger" *ngIf="!rForm.controls['idNumber'].valid && rForm.controls['idNumber'].touched">{{ formErrors.idNumber }}</span>
                  </div>
                  <div class="form-group col-md-4">
                     <label>Passport Number</label>
                     <input type="text" class="form-control" formControlName="passportNumber" placeholder="If applicable">
                     <span class="text-danger" *ngIf="!rForm.controls['passportNumber'].valid && rForm.controls['passportNumber'].touched">{{ formErrors.passportNumber }}</span>
                  </div>
               </div>
               <div class="form-row">
                  <div class="form-group col-md-4">
                     <label>Email address</label>
                     <input type="email" class="form-control" formControlName="emailAddress" placeholder="email@example.com">
                     <span class="text-danger" *ngIf="!rForm.controls['emailAddress'].valid && rForm.controls['emailAddress'].touched">{{ formErrors.emailAddress }}</span>
                  </div>
                  <div class="form-group col-md-4">
                     <label>Pay grade</label>
                     <mat-form-field>
                        <input type="text" placeholder="Choose Pay grade" matInput formControlName="payGrade" [matAutocomplete]="payGradeAuto">
                        <mat-autocomplete #payGradeAuto="matAutocomplete" [displayWith]="displaySalaryFn">
                           <mat-option *ngFor="let payGrade of filteredSalaries | async" [value]="payGrade">
                              {{payGrade.payGrade}} (Basic pay: R{{payGrade.basicPay}})
                           </mat-option>
                        </mat-autocomplete>
                     </mat-form-field>
                     <!--<select class="form-control" formControlName="payGrade" placeholder="Pay grade">
                           <option value=null disabled selected hidden>Choose Pay grade</option>
                           <option [ngValue]="s.id" *ngFor="let s of salaries">  
                              {{s.payGrade}} (Basic pay: R{{s.basicPay}})
                           </option>
                     </select>-->
                     <span class="text-danger" *ngIf="!rForm.controls['payGrade'].valid && rForm.controls['payGrade'].touched">{{ formErrors.payGrade }}</span>
                  </div>
                  <div class="form-group col-md-4">
                     <label>Basic pay</label>
                     <input type="text" class="form-control" formControlName="basicPay" placeholder="Overrides Pay grade amount">
                     <span class="text-danger" *ngIf="!rForm.controls['basicPay'].valid && rForm.controls['basicPay'].touched">{{ formErrors.basicPay }}</span>
                  </div>
               </div>
               <div class="form-row">
                  <div class="form-group col-md-3">
                     <label>Department</label>
                     <mat-form-field>
                        <input type="text" placeholder="Choose Department" matInput formControlName="department" [matAutocomplete]="departmentAuto">
                        <mat-autocomplete #departmentAuto="matAutocomplete" [displayWith]="displayDepartmentFn">
                          <mat-option *ngFor="let department of filteredDepartments | async" [value]="department">
                           {{department.name}}
                          </mat-option>
                        </mat-autocomplete>
                     </mat-form-field>
                     <!--<select class="form-control" formControlName="department" placeholder="Department">
                           <option value=null disabled selected hidden>Choose department</option>
                           <option [ngValue]="d.id" *ngFor="let d of departments">  
                              {{d.name}}
                           </option>
                     </select>-->
                     <span class="text-danger" *ngIf="!rForm.controls['department'].valid && rForm.controls['department'].touched">{{ formErrors.department }}</span>
                  </div>
                  <div class="form-group col-md-3">
                     <label>Position</label>
                     <mat-form-field>
                        <input type="text" placeholder="Choose Position" matInput formControlName="position" [matAutocomplete]="positionAuto">
                        <mat-autocomplete #positionAuto="matAutocomplete" [displayWith]="displayPositionFn">
                          <mat-option *ngFor="let position of filteredPositions | async" [value]="position">
                           {{position.name}}
                          </mat-option>
                        </mat-autocomplete>
                     </mat-form-field>
                     <!--<select class="form-control" formControlName="position" placeholder="Position">
                        <option value=null disabled selected hidden>Choose position</option>
                        <option [ngValue]="p.id" *ngFor="let p of positions">  
                           {{p.name}}
                        </option>
                     </select>-->
                     <span class="text-danger" *ngIf="!rForm.controls['position'].valid && rForm.controls['position'].touched">{{ formErrors.position }}</span>
                  </div>
                  <div class="form-group col-md-3">
                     <label>Tax number</label>
                     <input type="text" class="form-control" formControlName="taxNumber" placeholder="Tax number">
                     <span class="text-danger" *ngIf="!rForm.controls['taxNumber'].valid && rForm.controls['taxNumber'].touched">{{ formErrors.taxNumber }}</span>
                  </div>
                  <div class="form-group col-md-3">
                     <label>Hire date</label>
                     <input type="date" class="form-control" formControlName="hireDate">
                     <span class="text-danger" *ngIf="!rForm.controls['hireDate'].valid && rForm.controls['hireDate'].touched">{{ formErrors.hireDate }}</span>
                  </div>
               </div>
               <div class="form-group">
                  <label>Address 1</label>
                  <input type="text" class="form-control" formControlName="address1" placeholder="Line 1">
                  <span class="text-danger" *ngIf="!rForm.controls['address1'].valid && rForm.controls['address1'].touched">{{ formErrors.address1 }}</span>
               </div>
               <div class="form-group">
                  <label>Address 2</label>
                  <input type="text" class="form-control" formControlName="address2" placeholder="Line 2">
                  <span class="text-danger" *ngIf="!rForm.controls['address2'].valid && rForm.controls['address2'].touched">{{ formErrors.address2 }}</span>
               </div>
               <div class="form-row">
                  <div class="form-group col-md-2">
                     <label>Postal code</label>
                     <input type="text" class="form-control" formControlName="postalCode" placeholder="or zip code">
                     <span class="text-danger" *ngIf="!rForm.controls['postalCode'].valid && rForm.controls['postalCode'].touched">{{ formErrors.postalCode }}</span>
                  </div>
                  <div class="form-group col-md-6">
                     <label>Country</label>
                     <!--<input type="text" class="form-control" formControlName="country">-->
                     <mat-form-field>
                        <input type="text" placeholder="Choose Country" matInput formControlName="country" [matAutocomplete]="CountryAuto">
                        <mat-autocomplete #CountryAuto="matAutocomplete" [displayWith]="displayCountryFn">
                          <mat-option *ngFor="let country of filteredCountries | async" [value]="country">
                           {{country.name}}
                          </mat-option>
                        </mat-autocomplete>
                     </mat-form-field>
                     <span class="text-danger" *ngIf="!rForm.controls['country'].valid && rForm.controls['country'].touched">{{ formErrors.country }}</span>
                  </div>
                  <div class="form-group col-md-4">
                     <label>Phone number</label>
                     <input type="text" class="form-control" formControlName="phoneNumber" placeholder="Phone number">
                     <span class="text-danger" *ngIf="!rForm.controls['phoneNumber'].valid && rForm.controls['phoneNumber'].touched">{{ formErrors.phoneNumber }}</span>
                  </div>
               </div>
               <div class="form-row">
                  <div class="form-group col-md-6">
                     <label>Bank name</label>
                     <input type="text" class="form-control" formControlName="bankName" placeholder="Name of bank">
                     <span class="text-danger" *ngIf="!rForm.controls['bankName'].valid && rForm.controls['bankName'].touched">{{ formErrors.bankName }}</span>
                  </div>
                  <div class="form-group col-md-4">
                     <label>Bank account</label>
                     <input type="text" class="form-control" formControlName="bankAccount" placeholder="Bank account">
                     <span class="text-danger" *ngIf="!rForm.controls['bankAccount'].valid && rForm.controls['bankAccount'].touched">{{ formErrors.bankAccount }}</span>
                  </div>
                  <div class="form-group col-md-2">
                     <label>Branch</label>
                     <input type="text" class="form-control" formControlName="bankBranch" placeholder="or SWIFT">
                     <span class="text-danger" *ngIf="!rForm.controls['bankBranch'].valid && rForm.controls['bankBranch'].touched">{{ formErrors.bankBranch }}</span>
                  </div>
               </div>
               <div>
                  <input type="submit" class="btn btn-primary btn-sm" value="Save" [disabled]="!rForm.valid">&nbsp;
                  <input type="button" class="btn btn-primary btn-sm" value="Back" (click)="goBack()"/>
               </div>
            </form>
         </div>
      </div>
   </div>
</div>
<!--<employee-list></employee-list>-->
