<!--<employee-details></employee-details>-->
<div class="row">
    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
       <div class="card">
          <div class="card-header">
             <div>
                <h3 class="mb-0" *ngIf="!updateMode">Create user account</h3>
                <h3 class="mb-0" *ngIf="updateMode">Update user account</h3>
             </div>
          </div>
          <div class="card-body">
             <form [formGroup]="rForm" (ngSubmit)="!updateMode ? addUser(rForm.value) : updateUser(rForm.value)">
                <div class="form-row">
                   <div class="form-group col-md-6">
                      <label>First Name</label>
                      <input type="text" class="form-control" formControlName="firstName" placeholder="First Name" readonly>
                      <span class="text-danger" *ngIf="!rForm.controls['firstName'].valid && rForm.controls['firstName'].touched">{{ formErrors.firstName }}</span>
                   </div>
                   <div class="form-group col-md-6">
                      <label>Surname</label>
                      <input type="text" class="form-control" formControlName="lastName" placeholder="Surname" readonly>
                      <span class="text-danger" *ngIf="!rForm.controls['lastName'].valid && rForm.controls['lastName'].touched">{{ formErrors.lastName }}</span>
                   </div>
                </div>
                <div class="form-row">
                   <div class="form-group col-md-6">
                      <label>Email address</label>
                      <input type="email" class="form-control" formControlName="emailAddress" placeholder="email@example.com" readonly>
                      <span class="text-danger" *ngIf="!rForm.controls['emailAddress'].valid && rForm.controls['emailAddress'].touched">{{ formErrors.emailAddress }}</span>
                   </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-3">
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" formControlName="is_employee" id="is_employee" (change) ="checkEmployee($event.target.checked)" />
                            <label class="custom-control-label" for="is_employee">Employee</label>
                        </div>
                    </div>
                    <div class="form-group col-md-3">
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" formControlName="is_employee_admin" id="is_employee_admin" (change) ="checkEmployeeAdmin($event.target.checked)" />
                            <label class="custom-control-label" for="is_employee_admin">Employee admin</label>
                        </div>
                    </div>
                    <div class="form-group col-md-3">
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" formControlName="is_payroll_admin" id="is_payroll_admin" (change) ="checkPayrollAdmin($event.target.checked)" />
                            <label class="custom-control-label" for="is_payroll_admin">Payroll admin</label>
                        </div>
                    </div>
                    <div class="form-group col-md-3">
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" formControlName="is_system_admin" id="is_system_admin" (change) ="checkSysAdmin($event.target.checked)" />
                            <label class="custom-control-label" for="is_system_admin">System admin</label>
                        </div>
                    </div>
                </div>
                <div *ngIf="updateMode">
                  <hr>
                  <span><h4>Account status</h4></span>
                  <div class="form-row">
                     <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" formControlName="disabled" id="disabled" />
                        <label class="custom-control-label" for="disabled">User disabled</label>
                     </div>
                  </div>
                  <div class="form-row">
                     <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" formControlName="accountExpired" id="accountExpired" />
                        <label class="custom-control-label" for="accountExpired">Account expired</label>
                     </div>
                  </div>
                  <div class="form-row">
                     <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" formControlName="accountLocked" id="accountLocked" />
                        <label class="custom-control-label" for="accountLocked">Account locked</label>
                     </div>
                  </div>
                  <div class="form-row">
                     <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" formControlName="credentialsExpired" id="credentialsExpired" />
                        <label class="custom-control-label" for="credentialsExpired">Credentials expired</label>
                     </div>
                  </div>
                  </div><br>
                  <!--<hr>
                  <span><h4>Account status</h4></span>
                  <div class="form-row">
                     <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" formControlName="enabled" id="enabled" />
                        <label class="custom-control-label" for="enabled">User enabled</label>
                     </div>
                  </div>
                  <div class="form-row">
                     <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" formControlName="accountNonExpired" id="accountNonExpired" />
                        <label class="custom-control-label" for="accountNonExpired">Account non expired</label>
                     </div>
                  </div>
                  <div class="form-row">
                     <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" formControlName="accountNonLocked" id="accountNonLocked" />
                        <label class="custom-control-label" for="accountNonLocked">Account non locked</label>
                     </div>
                  </div>
                  <div class="form-row">
                     <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" formControlName="credentialsNonExpired" id="credentialsNonExpired" />
                        <label class="custom-control-label" for="credentialsNonExpired">Credentials non expired</label>
                     </div>
                  </div>
                  </div><br>-->
                  <div>
                     <input type="submit" class="btn btn-primary btn-sm" value="Save" [disabled]="!rForm.valid">&nbsp;
                     <input *ngIf="updateMode" type="button" class="btn btn-success btn-sm" value="Reset user password" (click)="resetUser(user.id)" [disabled]="!user" />&nbsp;
                     <input *ngIf="updateMode" type="button" class="btn btn-danger btn-sm" value="Delete user acount" (click)="openConfirmationDialog(user.id)" [disabled]="!user" />&nbsp;
                     <input type="button" class="btn btn-primary btn-sm" value="Back" (click)="goBack()"/>&nbsp;
                  </div>
             </form>
          </div>
       </div>
    </div>
 </div>
 <!--<employee-list></employee-list>-->
 