<div class="modal-header">
    <h4 class="modal-title">Update your password</h4>
    <button type="button" class="close" aria-label="Close"
     (click)="activeModal.dismiss('Cross click')">
    </button>
  </div><br>
  <form [formGroup]="myForm" (ngSubmit)="update(myForm.value)">
    <div class="modal-boy">
      <div class="container">
        <div class="form-group">
          <label>New Password</label>
          <input type="password" class="form-control" formControlName="newPassword" placeholder="New Password">
          <span class="text-danger" *ngIf="!myForm.controls['newPassword'].valid && myForm.controls['newPassword'].touched">{{ formErrors.newPassword }}</span>
        </div>
        <div class="form-group">
          <label>Confirm New Password</label>
          <input type="password" class="form-control" formControlName="confirmPassword" placeholder="Confirm New Password">
          <span class="text-danger" *ngIf="!myForm.controls['confirmPassword'].valid && myForm.controls['confirmPassword'].touched">{{ formErrors.confirmPassword }}</span>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <input type="submit" class="btn btn-primary btn-sm" value="Update" [disabled]="!myForm.valid">
      <!--<button class="btn btn-success" [disabled]="!myForm.valid">Update</button>-->
    </div>
  </form>