<div class="row">
    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
        <div class="card" *ngIf="hasRole('ROLE_ADMIN')">
            <h5 class="card-header">System Administration</h5>
            <div class="card-body">
                <div class="media">
                    <div class="media-body">
                        <p>Brief description of what a system administrator can do...</p>
                    </div>
                </div>
                <div>
                    <ul>
                        <li class="nav-item" [routerLinkActive]="'active'">
                            <a class="nav-link" [routerLink]="['/user_list']">Manage user accounts</a>
                        </li>
                        <li class="nav-item" [routerLinkActive]="'active'">
                            <a class="nav-link" [routerLink]="['/employee_list']">View employees</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="card" *ngIf="hasRole('ROLE_EMPLOYEE_ADMIN')">
            <h5 class="card-header">Employee Administration</h5>
            <div class="card-body">
                <div class="media">
                    <div class="media-body">
                        <p>Brief description of what an employee administrator can do...</p>
                    </div>
                </div>
                <div>
                    <ul>
                        <li class="nav-item" [routerLinkActive]="'active'">
                            <a class="nav-link" [routerLink]="['/manage_employee']">Add employee</a>
                        </li>
                        <li class="nav-item" [routerLinkActive]="'active'">
                            <a class="nav-link" [routerLink]="['/employee_list']">View employees</a>
                        </li>
                        <li class="nav-item" [routerLinkActive]="'active'">
                            <a class="nav-link" [routerLink]="['/department']">Departments</a>
                        </li>
                        <li class="nav-item" [routerLinkActive]="'active'">
                            <a class="nav-link" [routerLink]="['/position']">Positions</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="card" *ngIf="hasRole('ROLE_PAYROLL_ADMIN')">
            <h5 class="card-header">Payroll Administration</h5>
            <div class="card-body">
                <div class="media">
                    <div class="media-body">
                        <p>Brief description of what a payroll administrator can do...</p>
                    </div>
                </div>
                <div>
                    <ul>
                        <li class="nav-item" [routerLinkActive]="'active'">
                            <a class="nav-link" [routerLink]="['/salary']">Pay grades</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" [routerLink]="['/costcentre']">Cost centres</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" [routerLink]="['/deduction']">Deductions [TO DO]</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" [routerLink]="['/payrollperiod']">Payroll periods [TO DO]</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" [routerLink]="['/payroll']">Run payroll [TO DO]</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="card" *ngIf="hasRole('ROLE_EMPLOYEE')">
            <h5 class="card-header">Employee tools</h5>
            <div class="card-body">
                <div class="media">
                    <div class="media-body">
                        <p>Brief description of what an employee can do...</p>
                    </div>
                </div>
                <div>
                    <ul>
                        <li>
                            <a class="nav-link" href="/employee/payslip">View payslips [TO DO]</a>
                        </li>
                        <li>
                            <a class="nav-link" href="/employee/self">Update personal details</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

